
{%- load_yaml as server_defaults %}
default:
  bind:
    address: 127.0.0.1
    port: 8080
  cache:
    engine: noop
Debian:
  pkgs:
  - barbican-api
  - barbican-keystone-listener
  - barbican-worker
  services:
  - barbican-keystone-listener
  - barbican-worker
{%- endload %}

{%- load_yaml as client_defaults %}
Debian:
  pkgs:
  - python-barbicanclient
{%- endload %}

{%- set server = salt['grains.filter_by'](server_defaults, merge=salt['pillar.get']('barbican:server'), base='default') %}
{%- set client = salt['grains.filter_by'](client_defaults, merge=salt['pillar.get']('barbican:client')) %}
